.idea
.DS_Store
.vscode
morgan.log


# Built #
/__build__/
/__server_build__/
/ngclient/node_modules/
/ngclient/typings/
/ngclient/tsd_typings/
/ngclient/dist/
/ngclient/dist-server/
/ngclient/compiled/

# Typescript v1 declaration files
typings/

# Node #
npm-debug.log
/npm-debug.log.*

# Optional npm cache directory
.npm

# Webpack #
webpack.records.json

# Angular #
*.ngfactory.ts
*.css.shim.ts
*.ngsummary.json
*.metadata.json
*.shim.ngstyle.ts

# python #
*.pyc
*.bak
*.db
__pycache__/