<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" (click)="clickitem()" routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="clickitem()" routerLink="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" (click)="toggleDropdown()" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" [ngClass] = "{'show' : isDropdownDisplayed}"
              aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="clickitem()" routerLink="/about">About</a>
          <a class="dropdown-item" (click)="clickitem()" routerLink="/lazy">Lazy</a>
          <a class="dropdown-item" (click)="clickitem()" routerLink="/lazy/nested">Lazy_Nested</a>
          <a class="dropdown-item" (click)="clickitem()" routerLink="/">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="clickitem()" routerLink="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
